## Data Importation

In [152]:
import pandas as pd
import numpy as np

train = pd.read_csv('./Dataset/train.csv')
test = pd.read_csv('./Dataset/test.csv')

In [153]:
train.shape

(891, 12)

In [154]:
test.shape
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [155]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [156]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

let's see infos

In [157]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

We may want to know how many people survived in each class. We can use the groupby method to quickly do this:

In [158]:
pclass = train.groupby('Pclass').Survived.value_counts() 
pclass

Pclass  Survived
1       1           136
        0            80
2       0            97
        1            87
3       0           372
        1           119
Name: count, dtype: int64

as we can see , the statistics show that the survival rate of the passengers in the first class is higher than the second and third class. we can exploit this info

## Feature Engineering

Let's create some additional features from the existing ones ( feature engineering ) . first let's add , family size

In [159]:
train['Family_Size']=train['SibSp']+train['Parch']
test['Family_Size']=test['SibSp']+test['Parch']

In [160]:
def substrings_in_string(big_string, substrings):
    for substring in substrings:
        if big_string.find(substring) != -1:
            return substring
    print(big_string)
    return np.nan

In [161]:
train['Deck']=train['Cabin'].str[0]
test['Deck']=test['Cabin'].str[0]
train["Deck"]

0      NaN
1        C
2      NaN
3        C
4      NaN
      ...
886    NaN
887      B
888    NaN
889      C
890    NaN
Name: Deck, Length: 891, dtype: object

In [162]:
corr_matrix = train.corr(numeric_only=True)

In [163]:
corr_matrix["Survived"].sort_values(ascending=False)

Survived       1.000000
Fare           0.257307
Parch          0.081629
Family_Size    0.016639
PassengerId   -0.005007
SibSp         -0.035322
Age           -0.077221
Pclass        -0.338481
Name: Survived, dtype: float64

As we can see , it seems that the Fare and Pclass are the most correlated attributes with the Survived attribute.

let's prepare our train set now

## Stratified Sampling

Now let's use Startified sampling from scikit learn , basically strata means spliting your dataset into many

In [164]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=2, test_size=0.2, random_state=42)
for train_index, test_index in split.split(train, train["Survived"]):
    strat_train_set = train.loc[train_index]
    strat_val_set = train.loc[test_index]

In [165]:
X_train = strat_train_set.drop(['Survived'], axis=1)
y_train = strat_train_set['Survived']
X_val = strat_val_set.drop(['Survived'], axis=1)
y_val = strat_val_set['Survived']

## Pipeline Creation

let's create a pipline that prepares the data for training. but before let devise our dataset into numerical and categorical sub datasets

In [166]:
num_features=['Age','SibSp','Parch','Fare','Family_Size',"Pclass"]
cat_features=['Sex',"Deck"]

In [167]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
num_pipeline = Pipeline([
 ('imputer', SimpleImputer(strategy="median")),
 ('std_scaler', StandardScaler()),
 ])

In [168]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

full_pipeline = ColumnTransformer([("num_pipeline", num_pipeline, num_features),("cat", OneHotEncoder(), cat_features)])
train_prepared = full_pipeline.fit_transform(X_train)
val_prepared = full_pipeline.transform(X_val)
test_prepared = full_pipeline.transform(test)

## Training Model

In [169]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
classifiers = [LogisticRegression(),RandomForestClassifier(),KNeighborsClassifier()]

let's evaluate the models without performing any hyperparameter tuning

In [170]:
from numpy import mean
from sklearn.model_selection import cross_val_score

for model in classifiers:
    model.fit(train_prepared, y_train)
    print(model ,mean(cross_val_score(model, val_prepared, y_val, cv=5, scoring="accuracy")))

LogisticRegression() 0.7485714285714286

RandomForestClassifier() 0.6703174603174602
KNeighborsClassifier() 0.720952380952381

from what we can see , the logistic regression classifier is the best performs better than the other models

## Fine Tuning the Hyperparameters

First let's concatenate again the training set so we will use all the infos that we have

In [171]:
train_prepared= pd.DataFrame(train_prepared)
val_prepared= pd.DataFrame(val_prepared)
 
train_X = pd.concat([train_prepared, val_prepared])
train_y = pd.concat([y_train, y_val])

let's take it , and apply grid search to it

In [172]:
from sklearn.model_selection import GridSearchCV
logistic = LogisticRegression()
param_grid = {'C': [0.001, 0.01, 0.1, 1, 10, 100] , 'penalty' : ['l1', 'l2'] , 'solver' : ['lbfgs', 'liblinear','saga'] , 'max_iter' : [100, 1000, 2500] , 'class_weight' : ['balanced', None]}
grid_search = GridSearchCV(estimator=logistic, param_grid=param_grid, cv= 5 ,scoring="accuracy", verbose=3, n_jobs=-1)
grid_search.fit(train_X, train_y)

Fitting 5 folds for each of 216 candidates, totalling 1080 fits

e:\programming\AI\Titanic_Disaster_Detection\Project1\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
180 fits failed out of a total of 1080.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
180 fits failed with the following error:
Traceback (most recent call last):
  File "e:\programming\AI\Titanic_Disaster_Detection\Project1\Lib\site-packages\sklearn\model_selection\_validation.py", line 729, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "e:\programming\AI\Titanic_Disaster_Detection\Project1\Lib\site-packages\sklearn\base.py", line 1152, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "e:\programming\AI\Titanic_Disaster_Detection\Project1\Lib\site-packages\sklearn\linear_model\_logistic.py", line 1169, in fit
    solver = _check_solver(self.solver, self.penalty, self.dual)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "e:\programming\AI\Titanic_Disaster_Detection\Project1\Lib\site-packages\sklearn\linear_model\_logistic.py", line 56, in _check_solver
    raise ValueError(
ValueError: Solver lbfgs supports only 'l2' or 'none' penalties, got l1 penalty.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
e:\programming\AI\Titanic_Disaster_Detection\Project1\Lib\site-packages\sklearn\model_selection\_search.py:979: UserWarning: One or more of the test scores are non-finite: [       nan 0.61616345 0.52540958 0.74973322 0.75311657 0.74973322
        nan 0.61616345 0.52540958 0.74973322 0.75311657 0.74973322
        nan 0.61616345 0.38383655 0.74973322 0.75311657 0.74973322
        nan 0.61616345 0.61616345 0.62851045 0.72952734 0.62851045
        nan 0.61616345 0.61616345 0.62851045 0.72952734 0.62851045
        nan 0.61616345 0.61616345 0.62851045 0.72952734 0.62851045
        nan 0.66781119 0.66781119 0.77775406 0.77664302 0.77775406
        nan 0.66781119 0.66781119 0.77775406 0.77664302 0.77775406
        nan 0.66781119 0.66781119 0.77775406 0.77664302 0.77775406
        nan 0.78678049 0.61616345 0.78118134 0.78342854 0.78118134
        nan 0.78678049 0.61616345 0.78118134 0.78342854 0.78118134
        nan 0.78678049 0.61616345 0.78118134 0.78342854 0.78118134
        nan 0.78224217 0.78224217 0.78337204 0.78673655 0.78337204
        nan 0.78224217 0.78224217 0.78337204 0.78673655 0.78337204
        nan 0.78224217 0.78224217 0.78337204 0.78673655 0.78337204
        nan 0.79570648 0.79570648 0.80470153 0.80470153 0.80470153
        nan 0.79570648 0.79570648 0.80470153 0.80470153 0.80470153
        nan 0.79570648 0.79570648 0.80470153 0.80470153 0.80470153
        nan 0.78561296 0.78561296 0.78785387 0.78560668 0.78785387
        nan 0.78561296 0.78561296 0.78785387 0.78560668 0.78785387
        nan 0.78561296 0.78561296 0.78785387 0.78560668 0.78785387
        nan 0.80581257 0.80581257 0.80581884 0.80581884 0.80581884
        nan 0.80581257 0.80581257 0.80581884 0.80581884 0.80581884
        nan 0.80581257 0.80581257 0.80581884 0.80581884 0.80581884
        nan 0.78784759 0.78785387 0.78784759 0.78784759 0.78673027
        nan 0.78784759 0.78784759 0.78784759 0.78784759 0.78784759
        nan 0.78784759 0.78784759 0.78784759 0.78784759 0.78784759
        nan 0.79907099 0.79907099 0.80019459 0.80019459 0.80244178
        nan 0.79907099 0.79907099 0.80019459 0.80019459 0.80019459
        nan 0.79907099 0.79907099 0.80019459 0.80019459 0.80019459
        nan 0.78673027 0.78784759 0.78673027 0.78673027 0.78784759
        nan 0.78673027 0.78673027 0.78673027 0.78673027 0.78673027
        nan 0.78673027 0.78673027 0.78673027 0.78673027 0.78673027
        nan 0.80018831 0.80019459 0.80018831 0.80018831 0.80019459
        nan 0.80018831 0.80018831 0.80018831 0.80018831 0.80018831
        nan 0.80018831 0.80018831 0.80018831 0.80018831 0.80018831]
  warnings.warn(

GridSearchCV(cv=5, estimator=LogisticRegression(), n_jobs=-1,
             param_grid={'C': [0.001, 0.01, 0.1, 1, 10, 100],
                         'class_weight': ['balanced', None],
                         'max_iter': [100, 1000, 2500], 'penalty': ['l1', 'l2'],
                         'solver': ['lbfgs', 'liblinear', 'saga']},
             scoring='accuracy', verbose=3)

In [173]:
grid_search.best_estimator_

LogisticRegression(C=1)

In [174]:
model =grid_search.best_estimator_

model.fit(train)

In [175]:
model.fit(train_prepared, y_train)
predictions = model.predict(test_prepared)
predictions

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

let's now save the submission

In [176]:
output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [177]:
output.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1