## Data Importation

In [32]:
import pandas as pd
import numpy as np

train = pd.read_csv('./Dataset/train.csv')
test = pd.read_csv('./Dataset/test.csv')

In [33]:
train.shape

(891, 12)

In [34]:
test.shape
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [35]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [36]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

let's see infos

In [37]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

We may want to know how many people survived in each class. We can use the groupby method to quickly do this:

In [38]:
pclass = train.groupby('Pclass').Survived.value_counts() 
pclass

Pclass  Survived
1       1           136
        0            80
2       0            97
        1            87
3       0           372
        1           119
Name: count, dtype: int64

as we can see , the statistics show that the survival rate of the passengers in the first class is higher than the second and third class. we can exploit this info

## Feature Engineering

Let's create some additional features from the existing ones ( feature engineering ) . first let's add , family size

In [39]:
train['Family_Size']=train['SibSp']+train['Parch']
test['Family_Size']=test['SibSp']+test['Parch']

In [40]:
def substrings_in_string(big_string, substrings):
    for substring in substrings:
        if big_string.find(substring) != -1:
            return substring
    print(big_string)
    return np.nan

In [41]:
train['Deck']=train['Cabin'].str[0]
test['Deck']=test['Cabin'].str[0]
train["Deck"]

0      NaN
1        C
2      NaN
3        C
4      NaN
      ...
886    NaN
887      B
888    NaN
889      C
890    NaN
Name: Deck, Length: 891, dtype: object

In [42]:
corr_matrix = train.corr(numeric_only=True)

In [43]:
corr_matrix["Survived"].sort_values(ascending=False)

Survived       1.000000
Fare           0.257307
Parch          0.081629
Family_Size    0.016639
PassengerId   -0.005007
SibSp         -0.035322
Age           -0.077221
Pclass        -0.338481
Name: Survived, dtype: float64

As we can see , it seems that the Fare and Pclass are the most correlated attributes with the Survived attribute.

let's prepare our train set now

## Stratified Sampling

Now let's use Startified sampling from scikit learn , basically strata means spliting your dataset into many

In [44]:
from sklearn.model_selection import StratifiedShuffleSplit
split = StratifiedShuffleSplit(n_splits=2, test_size=0.01, random_state=42)
for train_index, test_index in split.split(train, train["Survived"]):
    strat_train_set = train.loc[train_index]
    strat_val_set = train.loc[test_index]

In [45]:
X_train = strat_train_set.drop(['Survived'], axis=1)
y_train = strat_train_set['Survived']
X_val = strat_train_set.drop(['Survived'], axis=1)
y_val = strat_val_set['Survived']

## Pipeline Creation

let's create a pipline that prepares the data for training. but before let devise our dataset into numerical and categorical sub datasets

In [46]:
num_features=['Age','SibSp','Parch','Fare','Family_Size',"Pclass"]
cat_features=['Sex',"Deck"]

In [47]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
num_pipeline = Pipeline([
 ('imputer', SimpleImputer(strategy="most_frequent")),
 ('std_scaler', StandardScaler()),
 ])

In [48]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

full_pieline = ColumnTransformer([("num_pipeline", num_pipeline, num_features),("cat", OneHotEncoder(), cat_features)])
train_prepared = full_pieline.fit_transform(X_train)
val_prepared = full_pieline.transform(X_val)
test_prepared = full_pieline.transform(test)

## Training Model

In [49]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
classifiers = [LogisticRegression(),RandomForestClassifier(),KNeighborsClassifier()]

let's evaluate the models without performing any hyperparameter tuning

In [50]:
from numpy import mean
from sklearn.model_selection import cross_val_score
for model in classifiers:
    print(model ,mean(cross_val_score(model, train_prepared, y_train, cv=5, scoring="f1")))

LogisticRegression() 0.7308498889168468

RandomForestClassifier() 0.7471896570941776
KNeighborsClassifier() 0.7425731331031182

from what we can see , the random forest classifier is the best performs better than the other models

let's take it , and apply grid search to it

In [53]:
from sklearn.model_selection import GridSearchCV
rfc = RandomForestClassifier()
param_grid = { 
    'n_estimators': [100,200,300,400,500],
    'max_features': ['auto', 'sqrt', 'log2'],
    'max_depth' : [2,3,4,5,6,7,8,9,10],
    'criterion' :['gini', 'entropy']
}
grid_search = GridSearchCV(estimator=rfc, param_grid=param_grid, cv= 5 ,scoring="accuracy", verbose=3, n_jobs=-1)
grid_search.fit(train_prepared, y_train)

Fitting 5 folds for each of 270 candidates, totalling 1350 fits

e:\programming\AI\Titanic_Disaster_Detection\Project1\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
450 fits failed out of a total of 1350.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
372 fits failed with the following error:
Traceback (most recent call last):
  File "e:\programming\AI\Titanic_Disaster_Detection\Project1\Lib\site-packages\sklearn\model_selection\_validation.py", line 729, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "e:\programming\AI\Titanic_Disaster_Detection\Project1\Lib\site-packages\sklearn\base.py", line 1145, in wrapper
    estimator._validate_params()
  File "e:\programming\AI\Titanic_Disaster_Detection\Project1\Lib\site-packages\sklearn\base.py", line 638, in _validate_params
    validate_parameter_constraints(
  File "e:\programming\AI\Titanic_Disaster_Detection\Project1\Lib\site-packages\sklearn\utils\_param_validation.py", line 96, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

--------------------------------------------------------------------------------
78 fits failed with the following error:
Traceback (most recent call last):
  File "e:\programming\AI\Titanic_Disaster_Detection\Project1\Lib\site-packages\sklearn\model_selection\_validation.py", line 729, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "e:\programming\AI\Titanic_Disaster_Detection\Project1\Lib\site-packages\sklearn\base.py", line 1145, in wrapper
    estimator._validate_params()
  File "e:\programming\AI\Titanic_Disaster_Detection\Project1\Lib\site-packages\sklearn\base.py", line 638, in _validate_params
    validate_parameter_constraints(
  File "e:\programming\AI\Titanic_Disaster_Detection\Project1\Lib\site-packages\sklearn\utils\_param_validation.py", line 96, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'sqrt', 'log2'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
e:\programming\AI\Titanic_Disaster_Detection\Project1\Lib\site-packages\sklearn\model_selection\_search.py:979: UserWarning: One or more of the test scores are non-finite: [       nan        nan        nan        nan        nan 0.79704032
 0.78909861 0.79363123 0.79589753 0.79476759 0.79702748 0.79249486
 0.78683873 0.79477401 0.78911787        nan        nan        nan
        nan        nan 0.81179379 0.81292373 0.81293015 0.81179379
 0.81406651 0.81406651 0.81293015 0.81293015 0.81293015 0.81406009
        nan        nan        nan        nan        nan 0.81859913
 0.81973549 0.82085901 0.82313174 0.82313816 0.81859913 0.82085901
 0.82199538 0.82427452 0.8220018         nan        nan        nan
        nan        nan 0.82199538 0.82652157 0.82992424 0.82652799
 0.82765794 0.82198896 0.82765794 0.82652157 0.82652799 0.82539163
        nan        nan        nan        nan        nan 0.82083975
 0.82198896 0.82199538 0.81857987 0.81859271 0.82198896 0.81631356
 0.81857987 0.81972907 0.81857987        nan        nan        nan
        nan        nan 0.82086543 0.82425526 0.81859271 0.82198896
 0.81972265 0.82086543 0.81631356 0.82313174 0.82084617 0.81972907
        nan        nan        nan        nan        nan 0.82880072
 0.82312532 0.82313174 0.82199538 0.82199538 0.81859913 0.82198896
 0.81972265 0.81631998 0.82085901        nan        nan        nan
        nan        nan 0.82539163 0.82199538 0.82086543 0.81744992
 0.82425526 0.82083975 0.82199538 0.82539163 0.82652799 0.82085901
        nan        nan        nan        nan        nan 0.82083975
 0.82425526 0.82538521 0.82312532 0.82651515 0.83219055 0.83219697
 0.82652157 0.82198896 0.8287943         nan        nan        nan
        nan        nan 0.7902414  0.7834489  0.79590395 0.79476759
 0.78911145 0.79363765 0.78909219 0.7970339  0.79249486 0.79363765
        nan        nan        nan        nan        nan 0.81293015
 0.81293015 0.81293015 0.81292373 0.81179379 0.81293015 0.81179379
 0.81293015 0.81179379 0.81179379        nan        nan        nan
        nan        nan 0.8242681  0.82086543 0.8242681  0.82085901
 0.82313174 0.82085901 0.8220018  0.82427452 0.82085901 0.81973549
        nan        nan        nan        nan        nan 0.82652799
 0.81972907 0.8287943  0.82425526 0.82538521 0.82197612 0.8242681
 0.82880072 0.82539163 0.82766436        nan        nan        nan
        nan        nan 0.82200822 0.81859271 0.81972265 0.82313816
 0.82199538 0.82427452 0.82426168 0.82313174 0.8220018  0.81631998
        nan        nan        nan        nan        nan 0.82425526
 0.82652799 0.81633282 0.81858629 0.8163264  0.82311248 0.81746276
 0.81748202 0.82312532 0.81972265        nan        nan        nan
        nan        nan 0.82198896 0.82538521 0.8231189  0.82085259
 0.82424242 0.82767078 0.82084617 0.82424884 0.82085259 0.82426168
        nan        nan        nan        nan        nan 0.82424884
 0.82652799 0.8287943  0.8231189  0.82425526 0.8231189  0.824236
 0.82880714 0.82652157 0.81971623        nan        nan        nan
        nan        nan 0.8242681  0.82652799 0.82992424 0.82652157
 0.82766436 0.82198896 0.82651515 0.8287943  0.82651515 0.82652157]
  warnings.warn(

GridSearchCV(cv=5, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [2, 3, 4, 5, 6, 7, 8, 9, 10],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [100, 200, 300, 400, 500]},
             scoring='accuracy', verbose=3)

In [54]:
grid_search.best_estimator_

RandomForestClassifier(max_depth=10, max_features='log2', n_estimators=200)

In [55]:
model =RandomForestClassifier(**grid_search.best_params_)

model.fit(train)

In [56]:
model.fit(train_prepared, y_train)
predictions = model.predict(test_prepared)
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

let's now save the submission

In [57]:
output = pd.DataFrame({'PassengerId': test.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [58]:
output.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0